{% extends "layout.html" %}

{% block page_name %}Watermark{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1>水印添加系统</h1>
<li class="active">
    <a href="{{ url_for('watermark') }}">
        <span>图像水印</span>
    </a>
</li>
<li class="active">
    <a href="{{ url_for('watermark1') }}">
        <span>音频水印</span>
    </a>
</li>
<li>
    <a href="{{ url_for('watermark2') }}">
        <span>视频水印</span>
    </a>
</li>

<a href="{{ url_for('signoff') }}"  onclick="{if(confirm('确定登出吗?')){this.document.formname.submit();return true;}return false;}">Sign Off</a>


{% endblock %}